.container{
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.scroll{
    white-space: nowrap;
    margin: 0.2em;
}
.scroll div{
    display: flex;
    gap: 2em;
}
.scroll p{
    font-size: 5em;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
}
.RightToLeft{
    animation: RightToLeft 10s infinite linear;
}
@keyframes RightToLeft {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50);
    }
}