html{
    scroll-behavior: smooth;
}
.topbtn{
    position: absolute;
    right: 12px;
    margin-top: -5rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #FFCC04;
    cursor: pointer;
    z-index: 9999;
    opacity: 0.9;
    
}
i{
    color: #ffffff;
    font-size :larger;
}
a {
    color: rgb(255 255 255);
    text-decoration: underline;
}