.contactInfo {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.contactInfo .box {
  position: relative;
  padding: 20px 0;
}

.contactInfo .box .icon {
  min-width: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  padding: 20px;
}
.contactInfo .box .icon i {
  color: #ffcc04;
}
.pt-5 {
  padding-top: 5rem !important;
}

.contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contactInfo .box .text h3 {
  font-weight: 500;
  color: #ffffff;
}
.contact-form {
  width: 70%;
}
.mb-4 .form-label {
  float: left;
}
.btn-primary {
  background-color: #d42121;
  border: #fff 2px solid;
  transition: 1.5s ease;
}
.btn-primary:hover {
  background-color: #ffcc04;
  border: #fff 2px solid;
}

/* for contact heading */
.TopHeading1 {
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
  text-shadow: 0.08em 0.08em 0em rgb(66 66 66 / 20%);
  text-align: center;
  white-space: nowrap;
  line-height: 1.1em;
  color: #d42121;
}
.Contact_top p {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  line-height: 1.7em;
  -webkit-font-smoothing: antialiased;
}
.contactbg h2 {
  color: #ffffff;
  line-height: 1.7em;
  font-weight: 600;
}

.formimage {
  width: 20%;
  position: absolute;
  top: 992px;
  right: 500px;
  animation-name: airoplane;
  animation-delay: 10s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 6s;
}
@keyframes airoplane {
  0% {
    transform: translate(800px,-400px);
  }
  100% {
    transform: translate(-1000px,400px);
  }
}
/* .cominsoonairoplane{
  width: 20%;
  position: absolute;
  top: 1980px;
  right: 660px;
  animation-name: cominsoonairoplane;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
  animation-play-state: paused;  
}
.cominsoonairoplane:hover{
  animation-play-state: running; 
}
@keyframes cominsoonairoplane {
  0% {
    transform: translate(660px,-400px);
  }
  100% {
    transform: translate(-800px,400px);
  }
} */
.carrun img{
  width: 20%;
  position: absolute;
  left:0px;
  bottom:-9px;  
  animation-name: carrun;
  animation-delay: 0s;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: left 0.3s, bottom 0.3s;
}
@keyframes carrun{
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(1400px);
  }
}
@media screen and (max-width:760px) {  
  /* .cominsoonairoplane {
            width: 40%;
        top: 917px;
        right: 7px;
} */
.carrun img{
  width: 40%;
  left:0px;
  bottom:-4px;  
  animation-duration: 10s;

}
.formimage {
  width: 60%;
  position: absolute;
  top: 1805px;
  right: 500px;
  animation-name: airoplane;
  animation-delay: 0s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 6s;
}
@keyframes airoplane {
  0% {
    transform: translate(680px,-400px);
  }
  100% {
    transform: translate(-50px,50px);
  }
}
}
