.contactInfo {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.contactInfo .box {
  position: relative;
  padding: 20px 0;
}

.contactInfo .box .icon {
  min-width: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  font-size: 30px;
  padding: 20px;
}
.contactInfo .box .icon i {
  color: #FFCC04;
}
.pt-5 {
  padding-top: 5rem !important;
}

.contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contactInfo .box .text h3 {
  font-weight: 500;
  color: #ffffff;
}
.contact-form {
  width: 70%;
}
.mb-4 .form-label {
  float: left;
}
.btn-primary {
  background-color: #d42121;
  border: #fff 2px solid;
  transition: 1.5s ease;
}
.btn-primary:hover {
  background-color: #FFCC04;
  border: #fff 2px solid;
}

/* for contact heading */
.TopHeading1 {
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  width: 100%;
  text-shadow: 0.08em 0.08em 0em rgb(66 66 66 / 20%);
  text-align: center;
  white-space: nowrap;
  line-height: 1.1em;
  color: #d42121;
}
.Contact_top p {
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #666;
  line-height: 1.7em;
  -webkit-font-smoothing: antialiased;
}
.contactbg h2 {
  
  color: #ffffff;
  line-height: 1.7em;
  font-weight: 600;
  text-shadow: 0.08em 0.08em 0em rgba(0, 0, 0, 0.4);
}
.formimg {
  width: 20%;
  position: absolute;
  top: 992px;
  animation-name:infiniteupdown;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:ease;
  transition: all .6s;
}
.formimg2{
  width: 20%;
  position: absolute;
  top: 992px;
  right:0;
  animation-name:infiniteupdown;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:ease;
  transition: all .6s;
}
@media screen and (max-width: 973px){
  .formimg2, .formimg{
    display:none;
  }
}