.scroll-container {
  overflow-y: scroll; /* Keeps scrolling but hides scrollbar */
  height: 100vh;
  position: relative;
  width: 100%;
  top: -91px;
  scroll-snap-type: y mandatory; /* Smooth snap to sections */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.panel {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: start; /* Align start of each section */
}

.content {
  height: 100%; /* Full height of the panel */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  /* Remove position sticky */
}

.productbg {
  background-image: url("CITY WEBSITE EDITS-01.png");
}

.spanheading {
  color: white;
  background-color: #d42121a3;
}
