#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  background: #eee;
  font-family: "Montserrat", "Poppins", sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  
}
.justify{
  text-align:justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body::-webkit-scrollbar {
  display: none;
}
:root {
  --main-color: #d42121;

  --main2-color: #ffcc04;

  --htm-color: #f06529;

  --javascript-color: #fdd634;

  --reactjs-color: #00d8ff;

  --nodejs-color: #6caa48;

  --expressjs-color: #01041d;

  --mongodb-color: #599636;

  --php-color: #484c89;
}
.mainheading {
  color: #d42121;
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: -0.5px;
}
.centerheading h3{  
  color: #d42121;
    text-align: center;
    font-family: "Calistoga", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    text-transform: none;
    font-style: normal;
    text-decoration:none;
    line-height: 1.2em;
    letter-spacing: -0.5px;
}
.line{
  width:120px;
  height:2px;
  background:#EEA820;
  margin:0px auto;
  border-radius:5px;
}
.subheding {
  text-align: justify;
  color: #fffffe;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0px;
}
.TopHeading {
  font-size: clamp(1.5rem, 2vw, 1rem);
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}
.swiper {
  width: 110%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
  width: 39% !important;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.wrapperr {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.wrapperr iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.1) !important;
}
.textanim {
  display: flex;

  justify-content: center;
  align-item: center;
}
.textanim img {
  width: 9%;
  position: relative;
  top: -30px;
}
#textanim1 h2 {
  position: relative;
  top: 49px;
}


@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.contactbg {
  background-image: url("CITY WEBSITE EDITS-01.png");
}
.cBVEOn {
  position: relative;
  right: 0px;
  width: 287px;
  height: 346px;
}
/* /////Timeline */

.timeline {
  position: relative;
  max-width: 900px;
  margin: 100px auto;
}
.timecontainer {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}
.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.text-box h2{
  color: #d42121;
  text-align: left;
  font-family: "Montserrat", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: -0.5px;
}
.company {
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.left-container {
  left: 2px;
}
.right-container {
  left: 50%;
}
.timecontainer img {
  position: absolute;
  width: 25%;
  border-radius: 50%;
  right: -54px;
  top: 32px;
  z-index: 10;
}
.right-container img {
  left: -57px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: var(--main-color);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
.timeline::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 1%;
  background: var(--main2-color);
  top: 0;
  left: 50%;
  margin-left: -3px;
  animation: moveline 10s infinite forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}
/* Responsive Timeline */
@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }
  .timeline::before {
    left: 31px;
  }

  .timecontainer {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .right-container img,
  .left-container img {
    left: -7px;
  }

}

@media screen and (max-width: 973px) {
  .swiper-slide {
    width: 64% !important;
  }
  .TopHeading1 {
    font-size: 22px;
  }
  .TopHeading {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
  }
  .textanim img {
    width: 12%;
    position: relative;
    top: -16px;
  }
  #textanim1 h2 {
    position: relative;
    top: 68px;
    font-size: 4vw;
  }
  .image-container .image {
    border: 9px solid #fff;
  }
  .gallery-tab .btn-warning {
    width: 100%;
    padding: 10px;
  }
  .mainheading {
    font-size: 30px;
  }
  .centerheading h3{
    font-size: 28px;
    
  }
  .usp_heading h3 {
    font-size: 28px;
}
}
/* Instafeed */
.instaframe{
  height: auto;
    max-width: 100%;
}

.whatsapp-chat-container{
  animation-name:infiniteupdown;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:ease;
  transition: all .3s;
}
