#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.TopHeading{
  font-size: clamp(1.5rem, 4vw, 3rem); /* Responsive font size */
  font-weight: 700;                   /* Optional: Make the text bold */
  text-align: center;                 /* Center the text */
  margin: 20px 0;
  text-transform: uppercase; 
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}
.TopHeading:before {
  background-color: #c50000;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}
.TopHeading:after {
  background-color: #c50000;
  content: "";
  display: block;
  position: relative;
  right: -86px;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}

.swiper {
  width: 95%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
  width: 39% !important;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.wrapperr{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

}
.wrapperr iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.1) !important;
}
@media screen and (max-width: 973px) {
  .swiper-slide {
    width: 64% !important;
  }
  .TopHeading1{
    font-size: 22px;
   
  
  }

}
