.visiondiv h4{
    color: #d42121;
    font-size: 30px;
    font-weight: 600;
    text-align:center;
}
.visiondiv {
    margin: 0px 0px 40px 0px;
    padding: 20px 20px 20px 25px;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  .visiondiv:hover{
    background-color: #ffffffbd;
  }
  .VisionHeading h3{
    color: #d42121;
    text-align: center;
    font-family: "Calistoga", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: -0.5px;
  }
  .VisionHeading h3 span:nth-child(1) {
    color:white ; 
    background-color:#d42121a3;
    padding: 0 18px 0 20px;
    margin-right:12px;
  }
  
  .VisionHeading h3 span:nth-child(2) {
    color:black;
    padding: 0 0 0 18px;
  }
  .VisionHeading h3 span:nth-child(3) {
    color:white ; 
    margin-left:22px;
    background-color:#d42121a3;
    padding: 0 18px 0 18px;
  }
  .visionimg{
    max-width:80%;
    height:auto;
  }
  .Visioncontainer{
    position:relative;
    top:-95px;
  }
  @media screen and (max-width: 973px){
    .VisionHeading h3{
        font-size: 28px;
        
      }
  }